/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .first-column {
      background: green;
      color: white;
      font-size: 2rem;
      border-width:2px;
      border-color:#000;  
      background: #5851ff;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      align-items: center;
  
  }
  .second-column {
  
    border-style: dotted;
    border-width: 2px;
  }