/Starglade.UI/bin
/Starglade.UI/obj
/Starglade.UI/package-lock.json
/Starglade.UI/src/tsconfig.json
/Starglade.Web/bin
/Starglade.Data/obj
/Starglade.Data/bin
/Starglade.Core/obj
/Starglade.Core/bin
/Starglade.Common/obj
/Starglade.Common/bin
/.vs
/Starglade.Web/obj
/Starglade.Infrastructure/bin
/Starglade.Infrastructure/obj
/Starglade.Service/bin
/Starglade.Service/obj
/Starglade.Web/Starglade.Web.csproj.user
/Starglade.Test/bin
/Starglade.Test/obj
/Starglade.Api/*.user
/Starglade.Api/bin
/Starglade.Api/obj
